@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Caveat&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Pacifico&family=Poppins:wght@100;200;300&family=Rajdhani:wght@300&family=Roboto:wght@100&family=Satisfy&family=Shadows+Into+Light&family=Zeyada&display=swap');
*
{
    margin: 0%;
    padding: 0%;
}
body
{
    height: 100vh;
}
/* navbar strats */
nav
{
    width:100%;
    height: 15vh;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}
nav img
{
    margin-right: auto;
    cursor: pointer;
    padding: 0px 50px;
}

nav ul li
{
    display: inline; 
    margin-right:20px ;     
}

nav button
{
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    font-size: large;
}
nav button:hover
{
    background-color: chocolate;
    border-radius: 10px;
    color: white;
}
.active
{
    background-color: chocolate;
    border-radius: 10px; 
    color: white;
}
nav ul
{
    margin-right: 300px;
}

/* navbar end  */


/* content strats  */
.content
{
    width:100%;
    height: 85vh;
    background-image: linear-gradient(-75deg,rgb(144, 130, 130),rgb(61, 94, 113),rgb(34, 69, 151));
    display: flex;
    justify-content: center;
}
.content h1
{
    font-size: 50px;
    font-family: poppins;
    color: white;
    position: absolute;
    top: 150px;
}
.content p
{
    font-size: 30px;
    font-family: poppins;
    color: white;
    position: absolute;
    top: 210px;
}
.back
{
    width: 100%;
    height: 467px;
    position: absolute;
    top: 280px;
    display: flex;
}
.add
{
    width: 50%;
    height: 467px;
    display: flex;
    align-items: center;
    flex-direction: column ;
    text-align: start;
    font-family: poppins;
    color: white;
}
.form
{
    width: 50%;
    height: 467px;
    display: flex;
    justify-content: center;
}
.content .add h3
{
    width: 190px;
    position: relative;
    top: 110px;
    font-size: 20px;
    text-transform: capitalize;
}
h2
{
    position: relative;
    top: 90px;
    font-size: 25px;
}
.add ul li
{
    display: inline;
    position: relative;
    top: 180px;
    margin: 50px;
}
.content .back .add ul li
{
    background: none;
    border: none;
    width: 50px;
    height: 50px;
} 
.fa-facebook 
{
    font-size: 30px;
    color: white;
}
.fa-twitter 
{
    font-size: 30px;
    color: white;
}
.fa-linkedin-in
{
    font-size: 30px;
    color: white;
}
.fa-brands:hover
{
    background-color: white;
    color: #2F5185;
    cursor: pointer;
}
table
{
    width: 400px;
    padding-left: 20px;
    font-family: poppins;
    background-color: white;
    border-radius: 18px;
    box-shadow: 8px 8px 10px #305284;
}
input
{
    height: 35px;
    width: 350px;
    background: none;
    border:none;
    border-bottom: 4px solid rgb(52, 52, 95);
    text-transform: capitalize;
    color: rgb(52, 52, 95);
}
h4
{
    font-size: larger;
    text-transform: uppercase;
    color: rgb(52, 52, 95);
}
.form table button
{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(87, 173, 87);
    color: white;
    border: none;
    cursor: pointer;
}




/* content end */